<div style="background-color: rgb(148, 59, 186)">
  <p>
    {{ fullName$ | async }}
    <br />
    {{ email$ | async }}
  </p>
</div>

<mat-nav-list>
  <mat-list-item routerLink="home" routerLinkActive="activated">
    <mat-icon style="font-size: 30px; height: 27px; width: 30px">
      cottage
    </mat-icon>
    <a>Home</a>
  </mat-list-item>

  <mat-list-item routerLink="users" routerLinkActive="activated">
    <mat-icon style="font-size: 30px; height: 27px; width: 30px">
      account_circle
    </mat-icon>
    <a>Usuarios</a>
  </mat-list-item>

  <mat-list-item routerLink="courses" routerLinkActive="activated">
    <mat-icon
      style="font-size: 27px; height: 27px; width: 27px; padding-top: 10px"
      >book_2
    </mat-icon>
    <a>Cursos</a>
  </mat-list-item>

  <mat-list-item routerLink="students" routerLinkActive="activated">
    <mat-icon
      style="font-size: 27px; height: 27px; width: 27px; padding-top: 10px"
      >person_book
    </mat-icon>
    <a>Estudiantes</a>
  </mat-list-item>

  <mat-list-item routerLink="enrollments" routerLinkActive="activated">
    <mat-icon
      style="font-size: 27px; height: 27px; width: 27px; padding-top: 10px"
      >group_add
    </mat-icon>
    <a>Inscripciones</a>
  </mat-list-item>

  <mat-list-item (click)="logout()">
    <mat-icon
      style="font-size: 27px; height: 27px; width: 27px; padding-top: 10px"
      >logout
    </mat-icon>
    <a>Cerrar sesión</a>
  </mat-list-item>
</mat-nav-list>
